body{
    background-color: rgb(243, 237, 237);
    padding: 0;
    margin: 0;
   
}

.app{
    padding-top: 100px;      
    margin: 0;
    
}

.app__produtos__quantidade{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.2rem;
    color: rgb(139, 138, 138);
}