

.sideBar__open{
    display: flex;
    flex-direction: column;
    width: 400px;
    position: fixed;
    height: 100%;
    right: -400px;
    top: 0;
    margin: 0;   
    background-color: rgba(207, 207, 204, 0.9);
    z-index: 10;
    transition: 0.5s;
    transform: translateX(-400px);
}

.sideBar__closed{
    display: flex;
    flex-direction: column;    
    width: 400px;
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    margin: 0; 
    z-index: 10;
    transition:  0.5s;
    transform: translateX(400px);
    
}

.SideBar__Button__Close{
    font-size: 1.2em;
    display: flex;
    padding-top: 10px;
}