.topbar {
    backface-visibility: hidden;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
    right: 0;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .topbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .topbar__logo {
    display: inline-block;
   
    height: 40px;
   
  }
  
  .topbar__logo svg {
    height: 100%;
  }


  .container {
    width: 100%;
    margin: 0 auto;
  }



  @media screen and (min-width: 728px) {
    .container {
      width: 90%;
    }
  }