.catalogo__produtos{

	padding: 8px 0;	
    margin: 10px 20px;  
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	width: 100%;
	
}

.catalogo__produto{

	display: flex;
	flex-direction: column;
	margin: 10px;
	overflow: hidden;
	width: 300px;
	background-color: white;
	box-shadow: 0 0 5px rgba(190, 183, 183, 1);
	border-radius: 10px;
	position: relative;
	
}
.catalogo__produto:hover{
	transition: all 0.5s ease-in-out;
	transform: scale(1.1);
	box-shadow: 5px 5px 15px 10px rgb(172, 165, 165);
}

figure{

	margin: 0;		
	
}

figure img{
	width: 100%;
}

.catalogo__footer{
	display: flex;
	flex-direction: column;
	height: 50px;
	justify-content: space-around;
	align-items: center;
	background-color: wheat;
}

.catalogo__produto__desconto{
	position: absolute;
	top: 0;
	right: 0;
	background-color: teal;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}