.navbar__shop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: rgb(79, 158, 60);      
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
   
}