.sideBarSearch{
  
        overflow-y:auto;
        width: 100%;
        margin: 5px;

}
.sideBarSearch__label{
    padding: 20px;
    font-size: 1.2em;
}

.sideBarSearch__input{

    width: 90%;
    height: 30px;
    font-size: 1.2em;
}



